<div class="text-center">User Listing</div>

<div class="container" style="background-color: #444; padding: 20px; margin-top: 20px; border-radius: 20px;">

<% if notice %>
<p id="notice"><%= @notice %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registered On</th>
      <th>Email</th>
      <th>Options</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%B %e, %Y - %l:%m %p") %></td>
        <td><%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-warning btn-small' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small', style: 'width: 90px;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>