<div>User Listing<div class="pull-right"><%= link_to 'New User', new_user_path, class: 'btn btn-primary' %></div></div>
<% if notice %>
<p id="notice"><%= @notice %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registered On:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td style="width: 500px;"><%= user.created_at %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary btn-small' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-small' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small', style: 'width: 90px;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
