<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, admin_path, class: 'btn btn-warning'%>

<div class="text-center" style="font-size: 20px; margin-bottom: 20px;">Order Listing</div>

<div class="container" style="background-color: #444; padding: 20px; margin-top: 20px; border-radius: 20px;">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Pay type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.address %></td>
          <td><%= order.email %></td>
          <td><%= order.pay_type %></td>
          <td><%= link_to 'Show', order, class: 'btn btn-primary btn-small' %></td>
          <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning btn-small' %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small', style: 'width: 90px;' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders, class: 'pagination pull-right'%>
</div>