
<div class="container">
  <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, admin_path, class: 'btn btn-warning'%>
  <div class="pull-right"><%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %></div>
</div>


<div class="text-center" style="font-size: 20px;">Category Listing</div>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container" style="background-color: #444; padding: 20px; margin-top: 20px; border-radius: 20px;">

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Options</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning btn-small'  %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small', style: 'width: 90px;'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @categories, class: 'pagination pull-right'%>

</div>