<div>Product Listing <div class="pull-right"><%= link_to 'New Product', new_product_path, class: 'btn btn-primary'%></div></div>

<table class="table">
  <thead>
    <td>Image</td>
    <td>Title</td>
    <td>Description</td>
    <td>Options</td>
  </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td style="width: 100px;"><%= product.title %></td>
        <td style="width: 350px;"><%= truncate(strip_tags(product.description), length: 80) %></td>
        <td>
          <%= link_to 'Show', product, class: 'btn btn-primary btn-small'%>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-small' %> 
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small', style: 'width: 90px;' %>
        </td>
      </tr>
    <% end %>
</table>